version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
  
  - package-ecosystem: "npm"
    directory: "/capi-ui"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
