name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    - name: Build Docker Image
      run: make docker-build

    - name: Run Tests in Docker
      run: |
        make docker-run-test
        sudo chown -R $(id -u):$(id -g) target


